rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Denegar todas las lecturas y escrituras desde el cliente.
    // Todo el acceso a los datos debe realizarse a través de las acciones del servidor
    // utilizando el Firebase Admin SDK.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
